@model IS_161_Proyecto_Grupo2.Models.Producto

<div class="card shadow col-md-6 mx-auto">
    <div class="card-header bg-warning text-white">
        Editar Producto
    </div>

    <div class="card-body">

        @using (Html.BeginForm())
        {
            @Html.HiddenFor(m => m.IdProducto)

            @Html.ValidationSummary(true, "", new { @class = "text-danger mb-3" })

            <div class="mb-3">
                <label class="form-label">Nombre</label>

                @Html.TextBoxFor(m => m.NombreProducto,
                new { @class = "form-control" })

            @Html.ValidationMessageFor(m => m.NombreProducto,
                                                "", new { @class = "text-danger" })
        </div>

        <div class="mb-3">
            <label class="form-label">Categoría</label>

            <select name="Categoria" class="form-control">
                <option value="">Seleccione una categoría...</option>

                @foreach (var cat in ViewBag.Categorias ?? new List<IS_161_Proyecto_Grupo2.Models.Categoria>())
                    {
                        <option value="@cat.Nombre"
                                selected="@(Model.Categoria == cat.Nombre)">
                            @cat.Nombre
                        </option>
                    }
                </select>

                @Html.ValidationMessageFor(m => m.Categoria,
                            "", new { @class = "text-danger" })
        </div>

        <div class="mb-3">
            <label class="form-label">Precio Costo</label>

            @Html.TextBoxFor(m => m.PrecioCosto,
                        new { @class = "form-control", type = "number", step = "0.01" })

            @Html.ValidationMessageFor(m => m.PrecioCosto,
                                                "", new { @class = "text-danger" })
        </div>

        <div class="mb-3">
            <label class="form-label">Precio Venta</label>

            @Html.TextBoxFor(m => m.PrecioVenta,
                        new { @class = "form-control", type = "number", step = "0.01" })

            @Html.ValidationMessageFor(m => m.PrecioVenta,
                                                "", new { @class = "text-danger" })
        </div>

        <div class="text-end">

            <button type="submit" class="btn btn-warning">
                <i class="bi bi-save"></i>  Actualizar
            </button>

            <a href="/Producto" class="btn btn-secondary">
                <i class="bi bi-x-circle"> </i>  Cancelar
            </a>

        </div>
                }

    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}