@using IS_161_Proyecto_Grupo2.Data
@model IS_161_Proyecto_Grupo2.Models.Factura

<h2 class="mb-4 text-center">Detalle de Factura #@Model.IdFactura</h2>

<div class="card shadow">
    <div class="card-body">

        <p><strong>Fecha:</strong> @Model.Fecha.ToString("dd/MM/yyyy HH:mm")</p>

        <table class="table table-bordered text-center">
            <thead class="table-dark">
                <tr>
                    <th>Producto</th>
                    <th>Cantidad</th>
                    <th>Precio Unitario</th>
                    <th>Subtotal</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var detalle in Model.Detalles)
                {
                    var producto = BaseDatosMemoria.Productos
                    .FirstOrDefault(p => p.IdProducto == detalle.ProductoId);

                    <tr>
                        <td>@producto?.NombreProducto</td>
                        <td>@detalle.Cantidad</td>
                        <td>L. @detalle.PrecioUnitario</td>
                        <td>L. @detalle.Subtotal</td>
                    </tr>
                }
            </tbody>
        </table>

        <div class="text-end">
            <p><strong>Subtotal:</strong> L. @Model.Subtotal()</p>
            <p><strong>IVA (15%):</strong> L. @Model.IVA()</p>
            <p><strong>Total:</strong> L. @Model.Total()</p>
        </div>

        <div class="text-start">
            <a href="/Reporte/Ventas" class="btn btn-secondary">
                Volver
            </a>
        </div>

    </div>
</div>
